spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/freepdb1
    username: TALLES_APP
    password: 24221915
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: none
    show-sql: true

  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: DEBUG
